*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: dodgerblue;
}
section:not(.container section) {
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1.2rem 0;
  font-size: 2.2rem;
}
.dayof-qotd {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.day-qotd-container {
  display: flex;
}
.dayof-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45.6px;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.inputBox,
.outputBox {
  padding: 2rem 1rem;
  border: 2px solid dodgerblue;
  border-radius: 20px;
}
.inputBox {
  width: 34%;
}
.outputBox {
  width: 60%;
}
.inputBox .buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 70%;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  font-size: 1.2rem;
  color: dodgerblue;
  padding: 0 0.4rem;
}
input::placeholder {
  color: hsl(210, 100%, 76%);
}
button {
  padding: 0.6rem 1.8rem;
  background: #fff;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  font-size: 1.2rem;
  color: dodgerblue;
}
ul,
ol {
  padding: 1rem 2rem 0;
}
ul li {
  font-size: 1.4rem;
}
ol li {
  font-size: 1.8rem;
}
li {
  line-height: 1.4;
}
