*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
.wrapper {
  position: relative;
  height: calc(100% - 2rem);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: dodgerblue;
}
section:not(.container section) {
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1.2rem 0;
  font-size: 2.2rem;
}
.dayof-qotd {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.day-qotd-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 0;
}
.day-qotd-container input {
  margin-right: 1rem;
}
.dayof-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45.6px;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.inputBox,
.outputBox {
  padding: 2rem 1rem;
  border: 2px solid dodgerblue;
  border-radius: 20px;
}
.inputBox {
  width: 34%;
}
.outputBox {
  width: 60%;
}
.inputBox .buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.buttonContainer button:nth-child(2) {
  margin: 0 1rem;
}
input {
  width: 70%;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  font-size: 1.2rem;
  color: dodgerblue;
  padding: 0 0.4rem;
}
input::placeholder {
  color: hsl(210, 100%, 76%);
}
button {
  padding: 0.6rem 1.8rem;
  background: #fff;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  font-size: 1.2rem;
  color: dodgerblue;
}
ul,
ol {
  padding: 1rem 2rem 0;
}
ul li {
  font-size: 1.4rem;
}
ol li {
  font-size: 1.8rem;
}
li {
  line-height: 1.4;
}
.namediv.clicked {
  text-decoration: line-through;
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid dodgerblue;
}
.copyright {
  margin-left: 10rem;
}
.about {
  margin-right: 10rem;
  padding: 0.5rem 1rem;
  background: hsl(0, 100%, 100%);
  font-size: 0.8rem;
  border: none;
}
.about:hover + .about-section {
  display: block;
}
.about-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(210, 100%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.about-section.hide {
  display: none;
}
.about-container {
  position: relative;
  width: 30%;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 2rem 4rem;
  border: 2px solid dodgerblue;
  border-radius: 20px;
}
.close-about {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.6rem 1rem;
  padding: 0 0.4rem;
  background: hsl(0, 100%, 100%);
  cursor: pointer;
}
a,
.about {
  color: hsl(210, 100%, 26%);
  text-decoration: none;
}
a:hover,
.about:hover {
  text-decoration: underline;
}

.qotd-display,
.about,
button,
.namediv {
  cursor: pointer;
}

button:active {
  transform: translateY(0.25rem);
}

.generator-container {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.question-text {
  font-size: 28px;
  margin-right: 15px;
}
